html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
  margin: 0 auto;
	height: auto;
  font-size: 16px;
  position: relative;
}
h1{
  color: #FFF;
  font-family: 'Nixie One';
  font-size: 3.5rem;
}
h2{
  color: #FFF;
  font-family: 'Nixie One';
  font-size: 2rem;
}
.ck-principal{
  position: absolute;
  z-index: 100;
  padding: 0;
  height: auto;
  width: 100%;
}
#navbar-main {
  background-color: rgba(0,0,0,0.15);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#navbar-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
#logo-nav {
  width: 150px;
  height: auto;
}
.nav-content, .dropbtn  {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 10px;
}
.navigation{
  display: block;
}
.navigation a{
  color: #FFF;
}

#navigation {
  position: fixed;
  top: 0;
  right: -50%;
  background-color: #4f5867;
  height: 100%;
  width: 50%;
}

#navigation a {
  display: block;
  margin: 20px;
  text-decoration: none;
  color: #fff;
}

.dropbtn {
  margin-right: 2rem;
  padding: 0;
  display: block;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
div.nav-content a{
  font-size: 15px;
	text-decoration: none;
	color: #c1c1c1;
	margin-right: 10px;
	padding: 5px;
}
div.nav-content a:hover{
  background-color: #E5F2F0;
  color: #4C4F4E;

}
.button{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#mainbanner{
  position: relative;
  margin:0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-image: url('../images/banner4.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	-webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}
#mainbanner:after{
  content:"";
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:rgba(0,0,0,0.6);
 }
.name{
  position: absolute;
  z-index: 1;
}
.name > .button{
  margin: 1em;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.questions > h2 {
  color: #000;
}
.parrafo_light{
  color: #fff;
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .nav-content{
    display: block;
  }
  .dropbtn{
    display: block;
  }
}
